body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  min-width: 320px;
  height: 100%;
  background-color: #fff;
  padding: 0 16px;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  min-width: 288px;
  margin: 0 auto;
}

.visually-hidden {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
}

.header-container {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #2e2f42;
  text-transform: uppercase;
}

.menu-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  flex-direction: column;
  background-color: #fff;
  padding: 24px 24px 40px 16px;

  /* opacity: 0;
  pointer-events: none; */
}

/* .menu-mobile.is-open {
  opacity: 1;
  pointer-events: auto;
} */

.menu-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}
.menu-link {
}
.current {
}
.adress {
}
.contacts-list {
}
.contacts-info {
}
.burger {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
}
.burger-icon {
}

@media (min-width: 768px) {
}

@media (min-width: 1158px) {
}
