:root {
  --blue: #4d5ae5;
  --white: #f4f4fd;
  --grey: #ffffff;
  --cloud: #f4f4fd;
  --black: #8e8f99;
  --sky: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1, 5;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

input,
textarea {
  font-family: inherit;
}

.header {
  border-bottom: 1px solid #e7e9fc;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #2e2f42;
  text-transform: uppercase;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current {
  position: relative;
  color: #404bbf;
}

.menu-link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.adress {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.contacts-info {
  font-style: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-info:hover {
  color: #404bbf;
}
.contacts-info:focus {
  color: #404bbf;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Title and Button Section1 */
.tit-a-but {
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
  background-position: center;
  margin: 0 auto;
}

.title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
}

.btn {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 48px auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: #404bbf;
}
.btn:focus {
  background-color: #404bbf;
}

/*  Description Section2 */
.des-sec {
  padding: 120px 0;
}

.visually-hidden {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.description-text {
  width: calc((100% - 72px) / 4);
}

.description-icons {
  fill: ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.description-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.ph-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* Team Photo Section3 */
.team-photo {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-photo-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.name-container {
  padding: 32px 0;
}

.icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 8px 16px 0 16px;
}

.icons-punkt {
  width: 40px;
  height: 40px;
}

.icons-item {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-item:hover,
.icons-item:focus {
  background-color: #404bbf;
}

.social {
  fill: var(--cloud);
}

.team-photo-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-photo-list:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.proffesion {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/* Section4 Portfolio */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style-type: none;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .par {
  transform: translateY(0%);
}

.par {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer Info */
.footer {
  background: #2e2f42;
  padding: 100px 0;
  position: relative;
}

.dop-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.footer-info {
  margin-right: 120px;
}

.logo-web-f {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin-bottom: 16px;
  display: inline-block;
}

.logo-studio-f {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #f4f4fd;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin: 0;
}

.social-par {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey);
  margin-bottom: 16px;
}

.footer-icons-list {
  display: flex;
  gap: 16px;
}

.footer-icons-punkt {
  width: 40px;
  height: 40px;
}

.footer-icons-item {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-item:hover,
.footer-icons-item:focus {
  background-color: #31d0aa;
}

.footer-social {
  fill: #f4f4fd;
}

.footer-form-container {
  width: 472px;
  height: 80px;
  position: absolute;
  top: 100px;
  right: 140px;
  padding: 0px;
  border: none;
}

.footer-form {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

.footer-form-par {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-input {
  margin-right: 24px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 212px 8px 16px;
}

.footer-form-but {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 4px;
  padding: 0px;
  width: 185px;
  height: 40px;
  border: none;

  background: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.but-fly-icon {
  fill: #fff;
  margin-left: 16px;
}

/* Modal window */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out; */
}

/* .modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
} */

.modal {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button:hover .modal-button-close {
  fill: #fff;
}

.modal-button:focus .modal-button-close {
  fill: #ffffff;
}

.modal-button-close {
  fill: #2e2f42;
  margin-bottom: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-par {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  /* padding: 72px 24px 16px 24px; */
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 0px;
  border: none;
  max-width: 360px;
  margin: 0 auto;
}

.form-container {
  position: relative;
  max-width: 360px;
  height: 58px;
  margin-bottom: 8px;
}

/* .form-container-input {
  display: flex;
  position: relative;
  padding: 0px;
} */

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;

  flex-direction: column;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus .form-icon {
  fill: #4d5ae5;
}

.form-container-comment {
  margin-bottom: 16px;
}

.form-input-com {
  width: 100%;
  height: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-com:focus {
  border-color: #4d5ae5;
}

.form-check {
  margin-bottom: 24px;
}

.input-checkbox:checked .symbol-check {
  background-color: var(--sky);
  border: none;
  fill: var(--white);
}

.symbol-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.form-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-right: 4px;
  margin-left: 4px;
  color: var(--black);
}

.priv-link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--blue);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button {
  display: block;

  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
