body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    line-height: 1,5;
    background-color: #fff;
}

a {
    text-decoration: none;
}


.logo-web {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-weight: 700;
   color: #4D5AE5;
   text-transform: uppercase;
   line-height: 1.17;
   letter-spacing: 0.03em;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #2E2F42;
    text-transform: uppercase;
}

.menu-link {
    font-size: 16px;
    font-weight: 500;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.adress {
    font-style: normal;

}

.contacts-info {
    font-style: 16px;
    font-weight: 400;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-info:hover {
    color: #404bbf;
}
.contacts-info:focus {
    color: #404bbf;
}



/* Title and Button Section1 */
.button-container {
    background: #2E2F42;
}

.title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.btn {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.btn:hover {
    background-color: #404BBF
}
.btn:focus {
    background-color: #404BBF
}

/*  Description Section2 */
.title-description {
   color: #2E2F42;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
}

.description-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.description-list {
    
}

.ph-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/* Team Photo Section3 */
.team-photo-section {
   background-color: #F4F4FD;
}

.team-photo-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-photo-list {
    background-color: #FFFFFF;
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.proffesion {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section4 Portfolio */
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* Footer Info */
.footer {
    background: #2E2F42;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4D5AE5;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.17;
}

.logo-studio-f {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #f4f4fd;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}






  
