body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input,
textarea {
  font-family: inherit;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.visually-hidden {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #e7e9fc;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #2e2f42;
  text-transform: uppercase;
}

.menu,
.contacts-list {
  display: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 72px 24px 40px 16px;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.modal-button-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #e7e9fc;
  stroke-width: 1px;
  stroke: #2e2f42;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 40px;
}

.menu-item:last-child {
  margin-bottom: 168px;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.adress {
  font-style: normal;
}

.menu-item-address {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 24px;
}

.contacts-info {
  font-style: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-info:hover {
  color: #404bbf;
}
.contacts-info:focus {
  color: #404bbf;
}

.icons-list-menu {
  display: flex;
  justify-content: left;
  gap: 40px;
  margin: 40px 0px;
}

.burger {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
}

.burger-icon {
}

/* ---------Title and Button Section1------------ */
.section {
  padding-top: 72px;
  padding-bottom: 72px;
}
.tit-a-but {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  border: none;
  margin: 72px auto 0px;
  display: block;
}

.btn:hover {
  background-color: #404bbf;
}
.btn:focus {
  background-color: #404bbf;
}

/* -----------Description Section2---------------- */

.des-sec {
  padding-top: 96px;
  padding-bottom: 96px;
}

.description-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.description-text {
  text-align: center;
}

.description-icons {
  display: none;
}

.description-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.ph-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ---------Team Photo Section3-------------- */
.team-photo .container {
  width: 264px;
}

.team-photo {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
}

.team-photo-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-photo-list {
  border-radius: 0px 0px 4px 4px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-container {
  padding: 32px 0;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.proffesion {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 8px;
}

.icons-punkt {
  width: 40px;
  height: 40px;
}

.icons-item {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social {
  fill: #fff;
}

/* -----------Section 4 Portfolio----------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}

.par {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ----------Footer Info----------- */

.footer {
  background: #2e2f42;
  padding: 96px 0;
}

.dop-container {
  text-align: center;
}

.logo-web-f {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin-bottom: 16px;
  display: inline-block;
}

.logo-studio-f {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #f4f4fd;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.social-par {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-icons-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 72px;
}

.footer-icons-punkt {
  width: 40px;
  height: 40px;
}

.footer-icons-item {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social {
  fill: #f4f4fd;
}

.footer-form-par {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-input {
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
  margin-bottom: 16px;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-form-but {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  border: none;

  background-color: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
}

.but-fly-icon {
  fill: #fff;
  margin-left: 16px;
}

/* ---------- Modal window------------ */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button:hover .modal-button-close {
  fill: #fff;
}

.modal-button-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-par {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form {
  max-width: 256px;
}

.form-container {
  position: relative;
  max-width: 256px;
  height: 58px;
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;

  flex-direction: column;
}

.form-container-input {
  position: relative;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form input:focus + svg {
  fill: #4d5ae5;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-container-comment {
  margin-bottom: 16px;
}

.form-input-com {
  width: 100%;
  height: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-com:focus {
  border-color: #4d5ae5;
}

.form-check {
  margin-bottom: 24px;
}

.input-checkbox:checked + .form-check-text > .symbol-check {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.form-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-right: 4px;
  margin-left: 4px;
  color: #8e8f99;
}

.symbol-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.privacy-check {
  fill: #f4f4f4fd;
}

.priv-link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.form-button {
  display: block;
  margin: 0 auto;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ############################################################################## */

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-container {
    display: flex;
    align-items: center;
    height: 72px;
    position: relative;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .menu,
  .contacts-list {
    display: flex;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .contacts-list {
    display: block;
    position: absolute;
    top: 10px;
    right: 16px;
  }

  .menu-item-address {
    margin-bottom: 0px;
  }

  .contacts-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1, 5;
    letter-spacing: 0.02em;
  }

  .menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0;
  }

  .menu-item:last-child {
    margin-bottom: 0;
  }

  .menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link.current {
    position: relative;
    color: #404bbf;
  }

  .menu-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .burger {
    display: none;
  }

  /* ---------------Section 1-------------- */

  .section {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .title {
    font-size: 56px;
    max-width: 496px;
  }

  /* ----------------Section 2-------------------------- */
  .des-sec {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .description-list {
  }

  .description-text {
    width: calc((100% - 96px) / 2);
  }

  .description-list-title {
    text-align: left;
  }

  .ph-text {
    text-align: left;
  }

  /* /* -------------------Section 3----------------------- */

  .team-photo .container {
    width: 552px;
  }

  .team-photo {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-photo-list {
    width: calc((100% - 24px) / 2);
  }

  /* ---------------------Section 4------------------------------------ */

  .portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /* -----------------Footer--------------------------- */

  .footer {
    padding: 96px 164px 96px 108px;
  }

  .dop-container {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-info {
    margin-right: 24px;
    text-align: left;
  }

  .icons {
    text-align: left;
  }

  .footer-form-container {
    text-align: left;
    position: relative;
    width: 453px;
    height: 80px;
  }

  .footer-form-but {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  /* -------------------Modal Window------------------------------- */

  .modal {
    width: 408px;
    min-height: 584px;
  }

  .form {
    max-width: 360px;
  }

  .form-container {
    position: relative;
    max-width: 360px;
  }
}
/* #################################################### */

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .address {
    font-style: normal;
    margin-left: auto;
  }

  .contacts-list {
    display: flex;
    gap: 40px;
    padding-top: 14px;
  }

  .contacts-info:hover {
    color: #404bbf;
  }

  .contacts-info:focus {
    color: #404bbf;
  }

  .burger {
    display: none;
  }

  /* ---------------Section 1-------------- */
  .section {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  /* ---------------Section 2--------------------------- */

  .description-list {
    gap: 24px;
  }

  .description-text {
    width: calc((100% - 72px) / 4);
  }

  .description-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .description-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1, 2;
    margin-bottom: 8px;
  }

  .ph-text {
    font-weight: 400;
    font-size: 16px;
  }

  /* --------------Section 3--------------------------- */

  .team-photo .container {
    width: 1158px;
  }

  .team-photo {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    gap: 24px;
  }

  .team-photo-list {
    width: calc((100% - 72px) / 4);
  }

  .team-photo-list:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
  }

  .icons-item:hover,
  .icons-item:focus {
    background-color: #404bbf;
  }

  /* -----------------Section 4---------------------------- */

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .portfolio-img {
    position: relative;
    overflow: hidden;
  }

  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:hover .par {
    transform: translateY(0%);
  }

  /* ------------------Footer-------------------------------- */

  .footer {
    padding: 100px 0;
    position: relative;
  }

  .dop-container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
  }

  .footer-info {
    margin-right: 120px;
  }

  .footer-text {
    margin: 0;
  }

  .footer-icons-item:hover,
  .footer-icons-item:focus {
    background-color: #31d0aa;
  }

  .footer-form-container {
    margin-left: 80px;
  }
}
