body {
    width: 1440px;
    height: 3300px;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
    line-height: 1,5;
}

 a {
    text-decoration: none;
 }

 p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: #434455;
 }

 header {
    height: 72px;
    background: #fff;
 }

/* Head Information */
 .logo-web {
   font-family: Raleway;
   font-size: 18px;
   font-weight: 700;
   color: #4D5AE5;
   text-transform: uppercase;
}

.logo-studio {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    color: #2E2F42;
    text-transform: uppercase;
}

.studio-header {
    font-weight: 500;.
    font-size: 16px;
    color: #2e2f42;
    
}


.studio-header:hover {
    color: #404BBF;
}


.portfolio-header {
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
}

.portfolio-header:hover {
    color: #404BBF;
}


.contacts-header {
    font-size: 16px;
    font-weight: 500;
    color: #2E2F42;
}

.contacts-header:hover {
    color: #404BBF;
}

.mail-info {
    color: #434455;

}

.tel-info {
    color: #434455;
}

/* Title and Button */
.button-container {
    height: 600px;
    background: #2E2F42;
}

h1 {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}

button {
    border-radius: 4px;
    background: #4d5ae5;
}

.but-text {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

/*  Description Section2 */
.description-section {
    height: 344px;
        
}

h3 {
   color: #2E2F42;
   font-size: 20px;
   font-weight: 500;
}

/* Team Photo Section3 */
h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #2E2F42;
} 

.team-photo-section {
    height: 732px;
}

.portfolio-section {
    width: 1128px;
    height: 1000px;
}

/* Footer container */
footer {
    height: 312px;
    background: #2E2F42;
}





.footer-text {
    color: #F4F4FD;
}







  
